[Unit]
Description=$DESCRIPTION
After=syslog.target network.target mosquitto.service
$SYSTEMD_DEPENDENCIES

[Service]
User=$COMMAND_USER
RuntimeDirectory=$NAME
ExecStartPre=+-/usr/bin/tedge init
ExecStart=$COMMAND $COMMAND_ARGS
Restart=on-failure
RestartPreventExitStatus=255
RestartSec=5

[Install]
WantedBy=multi-user.target
