#!/bin/sh -e
touch "/var/log/$NAME.log"
DAEMON_USER="$COMMAND_USER"
LOG_FILE="/var/log/$NAME.log"
PIDFILE="/run/lock/$NAME.lock"

mkdir -p /run/lock
chown 1777 /run/lock
touch "$PIDFILE"

if [ -n "$DAEMON_USER" ]; then
    chown "$DAEMON_USER" "$PIDFILE"
    chown "$DAEMON_USER" "/var/log/$NAME.log"
fi
exec chpst -u "$DAEMON_USER" "$COMMAND" $COMMAND_ARGS >> "$LOG_FILE" 2>&1
