# Configuration file for /etc/init.d/$NAME

# Additional arguments to pass to $COMMAND.
#command_args=

# Comment out if you don't want to use the supervisor
supervisor="supervise-daemon"
respawn_delay=5
